// img.img-responsive(src="img/Nevado_de_Toluca.jpg")
//div.container-fluid
div.row


	div.row.content-filler
		H2 Hurb sensor
	hurb-bg-img(src="img/pyramids-mayas.jpg" fix=true)
		form.form-horizontal
			div.form-group
				div.col-sm-offset-2.col-sm-10.center.inner-image
					div.checkbox
						label
							h4  Jojo dfvcdfvc
								input(type="checkbox" name="we" value="Recuedame")
						//	
							input(type="text", name="user" value="Roror!!")
							input(type="password", name="pass" value="Muere!!")
							input(type="submit", value="login")

	div.row.content-filler
	hurb-bg-img(src="img/Mariposa-Monarca.jpg" fix=true)
	div.row.content-filler
	hurb-bg-img(src="img/castilloQuintana.jpg" fix=true)


	
	// div.fill-screen(hurb-bg-img="'img/Nevado_de_Toluca.jpg'")
//
	div.row.content-filler
	div.row
		div.fill-screen(ng-style="imagenFondo")

		"{'fix':fix-attachment}[fix]"