
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'></link>
		<link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css"></link>
		<link rel="stylesheet" href="/css/site.css" ></link>
		<link rel="stylesheet" href="/components/toastr/toastr.min.css"></link>
		<base href="/"></base>
	</head>

	<body ng-app='app'>
		<div class='container-fluid' ng-view>
	</body>

<script src="/components/jquery/dist/jquery.js"></script>
<script src="/components/jquery-ui/jquery-ui.js"></script>
<script type="text/javascript" src="/components/angular/angular.js"></script>
<script type="text/javascript" src="/components/angular-resource/angular-resource.js"></script>
<script type="text/javascript" src="/components/angular-route/angular-route.js"></script><!-- 
//script(type="text/javascript",src="/components/angular-animate/angular-animate.min.js") -->
<script type="text/javascript" src="/components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script><!-- 
//script(type="text/javascript",src="/components/moment/moment.js")
//script(type="text/javascript",src="/components/spin.js/spin.js")
// script(type="text/javascript",src="/components/angular-dragdrop/src/angular-dragdrop.min.js") -->
<script type="text/javascript" src="/app/app.js"></script>


