	<div class="row">

  <panzoom config="config" model="model" style="width:800px; height: 600px">
			<hurb-bg-img src="img/Nevado_de_Toluca.jpg" fix=true id="hurb">


			<div class ="top-box">

				<div class ="row text-banner title-image animated fadeInDown">

					<h1>Customize your hurb sensor!</h1>

					   

	<!-- 				    <div class="btn-group" dropdown is-open="status.isopen">
      <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled">
        Button dropdown <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" >
        <li  ng-repeat="pl in [23, 4, 53, 2];"><a>{{pl}}</a></li>
      </ul>
    </div>
    <div  > 
    	<ul ng-repeat="pl in [23, 4, 53, 2];">
    		<li>{{pl}} </li>
    	</ul>
    </div> -->

   
<!-- 
					<p>
					If you lack a green thumb, have no fear. 
					Hurb can take care of himself for the most part, but will let you know what he needs through his mood lighting and mobile app.
					You will appreciate his quick wit and friendly personality...
					</p> -->
					<p>

						 <hurb-combo options='tAlert' total-price='this'> </hurb-combo>
						 <hurb-combo options='tMusic' total-price='this'></hurb-combo>
						 <hurb-combo options='tSensor' total-price='this'></hurb-combo>
						 <hurb-combo options='tSoil' total-price='this'></hurb-combo>
						 <hurb-combo options='tPower' total-price='this'></hurb-combo>
						 <hurb-combo options='tDepth' total-price='this'></hurb-combo>
						 <hurb-combo options='tWater' total-price='this'></hurb-combo>
						
						Total cost: {{totalPrice}}
			
						

					<!-- 	Type of alert
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
						<select>
							<option value='3'>Visuall</option>
							<option>Proximity</option>
							<option>Anywhere</option>
						</select>
 -->

						    <!-- Single button -->
   						<!-- <hurb-combo/> -->
   <!--  <div class="btn-group" dropdown is-open="status.isopen">
      <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled">
        Button dropdown <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div> -->

	  			<!-- 		Value1: <input type="checkbox" class="animated fadeIn" ng-model="checkboxModel.value1"/> <br>
	  					Value2: <input type="checkbox" ng-model="checkboxModel.value2"/> <br>
	  					Value3: <input type="checkbox" ng-model="checkboxModel.value3"/> <br>
	  					 <br/>
	  					 <tt>value1 = {{checkboxModel.value1}}</tt><br/>
	  					 <tt>value1 = {{checkboxModel.value2}}</tt><br/>
	  					 <tt>value1 = {{checkboxModel.value3}}</tt><br/>
 -->
  					</p>



				</div>

			</div>

			</hurb-bg-img>
 </panzoom>

	</div>