body{
	font-family: 'Slabo 27px','sans serif'
}

header,footer{
	background-color: #000;
	color: #ddd;
	padding: 20px;
	text-align: center;
}

.navbar{
	margin-bottom: 0px;
	padding: 30px 15px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.top-box{
	padding-top:70px;
}
.down-button{
	bottom:40px;
	/*padding-left:2.0em; */
	/*position: absolute;*/
	padding-left:35%;
}
.down-button i{
	color: white;
}

.draggable {
	width: 50px; height: 50px; 
	padding: 2.0em; 
	// background-color: #fff;
}


.title-row{
	position: relative;
	min-height: 300px;
}

.title-image{
	// position: absolute;
	top:20%;
	/*
	position: absolute;
	padding: 20px;
	top:0%;
	left:50%;
	margin-right: -50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,50%);
	*/
}

.text-tittle{
	
	text-justify: inter-word;
	/*margin: 40px 2em;*/
	padding: 2.0em; 
	background-color: rgba(245, 245, 245, 0.4);
}
.text-tittle h1{
	font-size: 44px;
	text-align: center;
}

.text-tittle p{
	font-size: 18px;
	text-align: center;
}

.text-banner{
	
    // text-justify: inter-word;
	margin: 40px 2em;
	padding: 2.0em; 
	background-color: rgba(245, 245, 245, 0.4);
}
.text-banner h1{
	font-size: 44px;
	text-align: center;
}

.text-banner p{
	font-size: 18px;
	text-align: justify;
}

.activity-section{
	margin:50px;
}
.activity-element{
	text-align: : center;
}
.activity-element img{
	width: 150px;
	height: 150px;
}

.contact-us{
	margin: 50px;
	text-align: center;
}
.well {

   background-color: rgba(245, 245, 245, 0.4);
}
.center{
	/*background-color: #000;*/
	color: #ddd;
	padding: 20px;
	text-align: center;
}
.inner-image{
	color: #222;
}
.content-filler{
	// min-height: 50px;
	background-color: #ddd; // rgba(245, 245, 245, 0.4);

	//color: #fff;
	//text-align: center;
}
.fix-attachment{
	background-attachment: fixed;
}
@media (max-width: 1024px){
	.fixed-attachment{
		background-attachment: scroll;
	}
}

.img-responsive{
	margin-left: 0px auto;
	/*border: 3px solid darkblue;*/
	box-shadow: rgba(0,0,0,0) 10px 10px 60px;
	//background-position: center;

}
.fill-screen{
	color: #222;
	background-size: cover;
	background-position: center;
}