<div class="row">

   <accordion close-others="oneAtATime" class=""  >
      <accordion-group heading="{{name}}"  is-open='true' >
  <div class ="col-sm-4">
    
    <!-- <div class="btn-group" dropdown is-open="status.isopen">
      <button type="button" ng-click="open()" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled">
        {{options[selected].name}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
         <li  ng-repeat="pl in options track by $index;"  ng-click="close($index)"><a>{{pl.name}}</a></li>
      </ul>
    </div>
     -->
     
  <label class="checkbox" ng-repeat="pl in options track by $index;" ng-mouseover="close($index)"  ng-mouseout="hide()"  ng-click="open()" >
    <input type="checkbox" ng-model="pl.value" >
       {{pl.name}} $ {{pl.price}}
  </label>
  
  </div>

  <div class ="col-sm-6">
    <accordion close-others="oneAtATime" class="" ng-hide="!visible" >
      <accordion-group heading="{{options[selected].name}}"  is-open='true' >
        {{options[selected].desc}} 
      </accordion-group>
    </accordion>
  </div>
  <div class ="col-sm-2">
        $ {{price}}
        <!-- {{totalPrice.totalPrice}} -->

    <!-- {{options[selected].desc}} -->
  </div>
      </accordion-group>
    </accordion>

</div>